$background:#ef5350;
$secundariColor:#386ABB;
$textColor:#FFCC03;
$fichas:(
    f1:f1,
    f2:f2,
    f3:f3,
    f4:f4,
    f5:f5,
    f6:f6,
    f7:f7,
    f8:f8,
    f9:f9,
    f10:f10,
    f11:f11,
    f12:f12,
    f13:f13,
    f14:f14,
    f15:f15,
    f16:f16
)