@import "./parciales/variables";
@import "./parciales/header";

@import "./parciales/footer";
@import "./parciales/body";
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

